body{
	background-color: white;
}
a:link{
	color: white;
	text-decoration: none;
}
a:visited{
	color: white;
}
a:hover{
	color: dimgrey;
}
ul {
  margin: 0;
  padding: 0;
}
p{
	font-family:sans-serif;
	font-size:75px;
	text-align:center;
	color:mediumpurple;
}
.flex-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: auto;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  justify-content: center;
}
.item1 {
  background-color: indigo;
  margin-bottom: 20px;
  height: auto;
}
.item2 {
	margin-top: 20px;
  background-color: indigo;
  margin-bottom: 20px;
  height: auto;
}
.flex-container1 {
  display: flex;
  flex-direction: column;
  background-color: lavender;
  width: auto;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  justify-content: center;
}
